<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <span class="navbar-brand">Ventas</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu">Menú Principal</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Administra tus ventas en SaleSpot</h2>
        </div>
    </div>
    <div class="row venta-container">
        <div class="col-md-4">
            <div class="venta-card" routerLink="/registrar/ventas">
                <h4>Agregar nueva venta</h4>
                <p>Permite agregar una nueva venta realizada y almacenarla en el sistema.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="venta-card" routerLink="/listar/ventas">
                <h4>ventas realizadas</h4>
                <p>Permite buscar y ver información de las ventas registradas en el sistema.</p>
            </div>
        </div>
    </div>
</div>