h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.obligatorio::after {
  content: '*';
  color: red;
  /* Cambia el color a rojo u otro color que desees */
  margin-left: 2px;
  /* Añade un espacio entre el campo y el asterisco */
}

/* Estilos personalizados para el efecto hover */
.btn-primary:hover {
  background-color: #6c757d;
  /* Cambia el color de fondo al pasar el mouse */
  border-color: #6c757d;
  /* Cambia el color del borde al pasar el mouse */
  color: #fff;
  /* Cambia el color del texto al pasar el mouse */
}

.fondo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image: url(../../../assets/images/fondo.png);
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 90vw;
  height: 85%;
  overflow: auto;

  display: flex;
  /* Utiliza flexbox para centrar vertical y horizontalmente */
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
}

.card {
  width: 100%;
  /* Asegura que la tarjeta ocupe todo el ancho del contenedor padre */
  max-width: 400px;
  /* Limita el ancho máximo de la tarjeta */
}