body{
  margin: 0;
}

.container {
    background-image: linear-gradient(to bottom right, rgb(215, 12, 96), rgb(79, 1, 79));
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    background-color: white;
    width: 300px;
    height: 530px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h2 {
    margin-top: 0%;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    color: white;
    background-color: rgb(100, 0, 60);
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: rgb(100, 0, 60);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  