body{
margin: 0;
}
.fondo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(215, 12, 96), rgb(79, 1, 79));
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0px;
  }
  .login {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 22px 28px 150px 250px 50px;
    width: 300px;
    height: 500px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
  .cabecera{
    width: 300px;
    background-color: rgb(190, 190, 190);
    grid-column: 1/5;
  }

  .foto_persona{
    display: grid;
    align-items: center;
    grid-row: 3;
    grid-column: 2/4;
    border: 1px solid black;
}
.formulario{
  margin: 50px;
  grid-row: 4;
  grid-column: 1/5;
}
form{
  display: grid;
  grid-template-rows: repeat(6, 25px);

}
.boton_ingresar{
  grid-row: 5;
  grid-column: 2/4;
}

.boton_registrar{
  grid-row: 6;
  grid-column: 2/4;
}