<div class="fondo">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
      <div>
        <h1>SaleSpot</h1>
        <img src="./assets/images/logo.png" alt="Logo" class="logo-img">
      </div>
      <div>
        <h2>Sistema de Control y Registro de Ventas</h2>
      </div>
      <div class="paragraph-container">
        <p>Este software brinda a los usuarios la capacidad de registrar y monitorear las ventas de productos o servicios de manera rápida y precisa. Permite ingresar información relevante, como la descripción del producto, el precio, la cantidad vendida y los detalles del cliente. Además, ofrece la posibilidad de generar facturas o recibos automáticamente, lo que simplifica el proceso de facturación.</p>
      </div>
      
      <div>
        <a class="btn btn-dark" routerLink="/login">Ingresar</a>
      </div>      
    </div>
  </div>
</div>