<app-navbar></app-navbar>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Administra los Usuarios de SaleSpot</h2>
        </div>
    </div>
    <div class="row profile-container">
        <div class="col-md-4">
            <div class="profile-card" routerLink="/registrar">
                <h4>Agregar Usuario</h4>
                <p>Permite agregar un nuevo usuario al sistema.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="profile-card" routerLink="/consultar">
                <h4>Perfiles de Usuarios</h4>
                <p>Permite buscar y ver información de usuarios existentes.</p>
            </div>
        </div>
    </div>
</div>
