h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.obligatorio::after {
    content: '*';
    color: red; /* Cambia el color a rojo u otro color que desees */
    margin-left: 2px; /* Añade un espacio entre el campo y el asterisco */
  }

  /* Estilos personalizados para el efecto hover */
.btn-primary:hover {
    background-color: #6c757d; /* Cambia el color de fondo al pasar el mouse */
    border-color: #6c757d; /* Cambia el color del borde al pasar el mouse */
    color: #fff; /* Cambia el color del texto al pasar el mouse */
  }
  
  
  
  
  